<html ng-app="app" ng-controller="loginController">


<form ng-submit="login()">
    <label>UName:</label>&emsp;&emsp;&emsp;
    <input type="text" ng-model="var_one.uname"></br></br>
    <label>UPwd:</label>&emsp;&emsp;&emsp;&emsp;
    <input type="password" ng-model="var_one.upwd"></br></br>
    <input type="submit">
</form>




<script src="bower_components/angular/angular.min.js"></script>

<script src="module.js"></script>
<script src="loginService.js"></script>
<script src="controller.js"></script>


</html>